Flask==2.3.3
Flask-MySQLdb==1.0.1
Flask-CORS==4.0.0
pymysql==1.1.0
mysqlclient
python-dotenv==1.0.0
flask-mail==0.10.0
fpdf2==2.7.0
pandas==2.0.3
scikit-learn==1.3.1
numpy==1.24.3
bcrypt==4.0.1
stripe==5.5.0
statsmodels==0.14.0
pygsp
matplotlib
numpy
scipy
ahpy==1.2
Pillow==10.0.0
pyDecision